sudo: false
language: ruby
rvm:
  - 2.3.1
  - 2.3.3
  - 2.4.0
before_install: gem install bundler -v 1.13.6
install:
  - bundle install --retry=3
  - gem install rubocop
script:
  - rubocop -D
  - bundle exec rake
